@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-background-color: #0b0d10;
    --color-text-winning: #2eff8a;
    --color-neon: #22c55e;
    --color-text-losing: #ff4d4d;
    --color-secondary-text: #5c6270;
    --color-card: #141820;
    --color-lead: #00e5ff;

    /* Typographic sizes */
    --text-label-size: 14px;
    --text-delta-size: 24px;
    --text-countdown-size: 80px;
  }
}
.text-label {
  font-size: var(--text-label-size);
}
.text-delta {
  font-size: var(--text-delta-size);
}
.text-countdown {
  font-size: var(--text-countdown-size);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
